/*------------------------------------*\
    #Basic values
\*------------------------------------*/
:root {
	--base-font-size: 16px;
	--base-line-height: 1.5;
	--base-spacing-unit: 24px;
	--base-border-radius: 4px;
	--base-transition-time: 0.075s;
	--base-timing-functon: cubic-bezier(0.165, 0.84, 0.44, 1);

	/* buttons and forms vars */
	--form-border-width: 1px;
	--form-padding: 10px;
	--form-sm-divisor: 1.6;
	--form-lg-multiplier: 2.4;

	--btn-border-width: 1px;
	--btn-padding-v: 10px;
	--btn-padding-h: 24px;
	--btn-sm-divisor: 1.6;
	--btn-lg-multiplier: 2.4;

	/*---------------------------------------
        Colors
    ---------------------------------------*/
	--c-brand-50: #f9fce9;
	--c-brand-100: #f1f8cf;
	--c-brand-200: #e1f1a5;
	--c-brand-300: #cbe670;
	--c-brand-400: #bada55;
	--c-brand-500: #96bc26;
	--c-brand-600: #74961a;
	--c-brand-700: #587219;
	--c-brand-800: #475b19;
	--c-brand-900: #3d4d1a;

	--c-brand: var(--c-brand-400);

	--c-accent-50: #fcf3fa;
	--c-accent-100: #fae9f8;
	--c-accent-200: #f6d4f0;
	--c-accent-300: #f1b0e5;
	--c-accent-400: #e680d1;
	--c-accent-500: #da55bb;
	--c-accent-600: #c83aa0;
	--c-accent-700: #ad2984;
	--c-accent-800: #8f256d;
	--c-accent-900: #78235c;

	--c-accent: var(--c-accent-500);

	--c-grey-50: #f0f3f5;
	--c-grey-100: #e5e8eb;
	--c-grey-200: #c5cdd3;
	--c-grey-300: #9daab4;
	--c-grey-400: #778692;
	--c-grey-500: #5d6b79;
	--c-grey-600: #4b5763;
	--c-grey-700: #3e4751;
	--c-grey-800: #363e45;
	--c-grey-900: #25292d;

	/*Link color*/
	--c-link: var(--c-brand-500);
	--c-link-hover: var(--c-brand-700);

	/*------------------------------------*\
        #Z-indexes
    \*------------------------------------*/
	--z-everest: 100;
	--z-alps: 50;
	--z-hill: 10;
	--z-beach: 1;
	--z-sea: 0;
	--z-deadsea: -1;

	/*------------------------------------*\
        #Fonts
    \*------------------------------------*/
	--ff--primary: "Metropolis", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	--ff--secondary: "Metropolis", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	--ff--mono: Monaco, Consolas, "Lucida Console", monospace;
}

/*---------------------------------------
    #Fonts imports
---------------------------------------*/
@font-face {
	font-family: Metropolis;
	src: url(../fonts/metropolis-regular-webfont.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Metropolis;
	src: url(../fonts/metropolis-regularitalic-webfont.woff2) format("woff2");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: Metropolis;
	src: url(../fonts/metropolis-bold-webfont.woff2) format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Metropolis;
	src: url(../fonts/metropolis-bolditalic-webfont.woff2) format("woff2");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}
